.navigation-container1816 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container1817 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink323 {
  display: contents;
}
.navigation-image229 {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container1818 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text2718 {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container1819 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink325 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink326 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink327 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink328 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink329 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text2719 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container1817 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container1817 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image229 {
    width: auto;
    height: 7rem;
  }
  .navigation-container1819 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container1817 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container1818 {
    height: auto;
  }
  .navigation-container1819 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink325 {
    text-align: center;
  }
  .navigation-navlink326 {
    text-align: center;
  }
  .navigation-navlink327 {
    text-align: center;
  }
  .navigation-navlink328 {
    text-align: center;
  }
  .navigation-navlink329 {
    text-align: center;
  }
  .navigation-text2719 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container1817 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container1818 {
    gap: 0;
  }
  .navigation-text2718 {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container1819 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink326 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}

.contact-dealers-container1658 {
  padding: var(--dl-space-space-twounits);
}
.contact-dealers-accent2-bg90 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.contact-dealers-accent2-bg90:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.contact-dealers-accent1-bg90 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.contact-dealers-container1659 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.contact-dealers-container1659:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-dealers-content271 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-dealers-navlink309 {
  display: contents;
}
.contact-dealers-actions55 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
}


























@media(max-width: 767px) {
  .contact-dealers-container1659 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-dealers-actions55 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .contact-dealers-button84 {
    flex: 1;
  }
}

.footer-footer08 {
  position: relative;
  background-color: transparent;
}
.footer-separator08 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container1656 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text2545 {
  align-self: flex-start;
}
.footer-text2546 {
  align-self: flex-start;
}





























@media(max-width: 1200px) {
  .footer-container1656 {
    align-items: center;
    justify-content: flex-start;
  }
  .footer-date-time08 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .footer-footer08 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container1656 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-text2545 {
    margin-bottom: 0px;
  }
  .footer-text2546 {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-footer08 {
    padding: var(--dl-space-space-halfunit);
    position: relative;
    flex-direction: column;
  }
  .footer-separator08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer-container1656 {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text2545 {
    align-self: center;
    text-align: left;
  }
  .footer-date-time08 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text2546 {
    align-self: flex-end;
    text-align: center;
  }
}

.haifa-mkp-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.haifa-mkp-container01 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-text001 {
  text-align: justify;
}
.haifa-mkp-text002 {
  text-align: justify;
}
.haifa-mkp-text003 {
  text-align: justify;
}
.haifa-mkp-text004 {
  align-self: flex-start;
}
.haifa-mkp-ul {
  list-style-type: circle;
}
.haifa-mkp-container02 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-text021 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-mkp-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container04 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text024 {
  align-self: center;
}
.haifa-mkp-container05 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text025 {
  align-self: center;
}
.haifa-mkp-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container07 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text026 {
  align-self: center;
}
.haifa-mkp-container08 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text027 {
  align-self: center;
}
.haifa-mkp-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container10 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text030 {
  align-self: center;
}
.haifa-mkp-container11 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text031 {
  align-self: center;
}
.haifa-mkp-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container13 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text034 {
  align-self: center;
}
.haifa-mkp-container14 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text035 {
  align-self: center;
}
.haifa-mkp-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container16 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text038 {
  align-self: center;
}
.haifa-mkp-container17 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text039 {
  align-self: center;
}
.haifa-mkp-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container19 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text042 {
  align-self: center;
}
.haifa-mkp-container20 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text043 {
  align-self: center;
}
.haifa-mkp-container21 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-text046 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
}
.haifa-mkp-text047 {
  align-self: flex-start;
}
.haifa-mkp-text048 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-mkp-container22 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-mkp-container24 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text049 {
  align-self: center;
}
.haifa-mkp-container25 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text050 {
  align-self: center;
}
.haifa-mkp-container26 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text053 {
  align-self: center;
}
.haifa-mkp-container27 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text056 {
  align-self: center;
}
.haifa-mkp-container28 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text059 {
  align-self: center;
}
.haifa-mkp-container29 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text062 {
  align-self: center;
}
.haifa-mkp-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-mkp-container31 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text065 {
  align-self: center;
}
.haifa-mkp-container32 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text066 {
  align-self: center;
}
.haifa-mkp-container33 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text067 {
  align-self: center;
}
.haifa-mkp-container34 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text070 {
  align-self: center;
}
.haifa-mkp-container35 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text073 {
  align-self: center;
}
.haifa-mkp-container36 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text076 {
  align-self: center;
}
.haifa-mkp-container37 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-text079 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
}
.haifa-mkp-text082 {
  align-self: flex-start;
  text-align: justify;
}
.haifa-mkp-text083 {
  align-self: flex-start;
  text-align: justify;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-mkp-container38 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-mkp-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container40 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text084 {
  align-self: center;
}
.haifa-mkp-container41 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text085 {
  align-self: center;
}
.haifa-mkp-container42 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text086 {
  align-self: center;
}
.haifa-mkp-container43 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text089 {
  align-self: center;
}
.haifa-mkp-container44 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text092 {
  align-self: center;
}
.haifa-mkp-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container46 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text095 {
  align-self: center;
}
.haifa-mkp-container47 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text096 {
  align-self: center;
}
.haifa-mkp-container48 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text097 {
  align-self: center;
}
.haifa-mkp-container49 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text100 {
  align-self: center;
}
.haifa-mkp-container50 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text103 {
  align-self: center;
}
.haifa-mkp-container51 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-mkp-container52 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-mkp-text106 {
  align-self: center;
}
.haifa-mkp-container53 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text107 {
  align-self: center;
}
.haifa-mkp-container54 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text108 {
  align-self: center;
}
.haifa-mkp-container55 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text111 {
  align-self: center;
}
.haifa-mkp-container56 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-mkp-text114 {
  align-self: center;
}
