.navigation-container724 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container725 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink125 {
  display: contents;
}
.navigation-image91 {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container726 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text1086 {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container727 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink127 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink128 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink129 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink130 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink131 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text1087 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container725 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container725 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image91 {
    width: auto;
    height: 7rem;
  }
  .navigation-container727 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container725 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container726 {
    height: auto;
  }
  .navigation-container727 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink127 {
    text-align: center;
  }
  .navigation-navlink128 {
    text-align: center;
  }
  .navigation-navlink129 {
    text-align: center;
  }
  .navigation-navlink130 {
    text-align: center;
  }
  .navigation-navlink131 {
    text-align: center;
  }
  .navigation-text1087 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container725 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container726 {
    gap: 0;
  }
  .navigation-text1086 {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container727 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink128 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}

.contact-dealers-container566 {
  padding: var(--dl-space-space-twounits);
}
.contact-dealers-accent2-bg30 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.contact-dealers-accent2-bg30:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.contact-dealers-accent1-bg30 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.contact-dealers-container567 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.contact-dealers-container567:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-dealers-content97 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-dealers-navlink111 {
  display: contents;
}
.contact-dealers-actions19 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
}


























@media(max-width: 767px) {
  .contact-dealers-container567 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-dealers-actions19 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .contact-dealers-button30 {
    flex: 1;
  }
}

.footer-footer2 {
  position: relative;
  background-color: transparent;
}
.footer-separator2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container564 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text913 {
  align-self: flex-start;
}
.footer-text914 {
  align-self: flex-start;
}





























@media(max-width: 1200px) {
  .footer-container564 {
    align-items: center;
    justify-content: flex-start;
  }
  .footer-date-time2 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .footer-footer2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container564 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-text913 {
    margin-bottom: 0px;
  }
  .footer-text914 {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-footer2 {
    padding: var(--dl-space-space-halfunit);
    position: relative;
    flex-direction: column;
  }
  .footer-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer-container564 {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text913 {
    align-self: center;
    text-align: left;
  }
  .footer-date-time2 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text914 {
    align-self: flex-end;
    text-align: center;
  }
}

.haifa-map-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.haifa-map-container01 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-text {
  text-align: center;
}
.haifa-map-text001 {
  align-self: flex-start;
  text-align: justify;
}
.haifa-map-text002 {
  align-self: flex-start;
  text-align: justify;
}
.haifa-map-text003 {
  align-self: flex-start;
  text-align: justify;
}
.haifa-map-text004 {
  align-self: flex-start;
}
.haifa-map-ul {
  list-style-type: circle;
}
.haifa-map-container02 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-text025 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-map-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container04 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text028 {
  align-self: center;
}
.haifa-map-container05 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text029 {
  align-self: center;
}
.haifa-map-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container07 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text030 {
  align-self: center;
}
.haifa-map-container08 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text031 {
  align-self: center;
}
.haifa-map-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container10 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text034 {
  align-self: center;
}
.haifa-map-container11 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text035 {
  align-self: center;
}
.haifa-map-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container13 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text038 {
  align-self: center;
}
.haifa-map-container14 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text039 {
  align-self: center;
}
.haifa-map-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container16 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text042 {
  align-self: center;
}
.haifa-map-container17 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text043 {
  align-self: center;
}
.haifa-map-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container19 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text046 {
  align-self: center;
}
.haifa-map-container20 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text047 {
  align-self: center;
}
.haifa-map-container21 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-text050 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
}
.haifa-map-text051 {
  align-self: flex-start;
}
.haifa-map-text052 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-map-container22 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-map-container24 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text053 {
  align-self: center;
}
.haifa-map-container25 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text054 {
  align-self: center;
}
.haifa-map-container26 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text057 {
  align-self: center;
}
.haifa-map-container27 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text060 {
  align-self: center;
}
.haifa-map-container28 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text063 {
  align-self: center;
}
.haifa-map-container29 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text066 {
  align-self: center;
}
.haifa-map-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-map-container31 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text069 {
  align-self: center;
}
.haifa-map-container32 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text070 {
  align-self: center;
}
.haifa-map-container33 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text071 {
  align-self: center;
}
.haifa-map-container34 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text074 {
  align-self: center;
}
.haifa-map-container35 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text077 {
  align-self: center;
}
.haifa-map-container36 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text080 {
  align-self: center;
}
.haifa-map-container37 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-text083 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
}
.haifa-map-text086 {
  align-self: flex-start;
}
.haifa-map-text087 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-map-container38 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-map-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container40 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text088 {
  align-self: center;
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-container41 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text089 {
  align-self: center;
}
.haifa-map-container42 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text090 {
  align-self: center;
}
.haifa-map-container43 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text093 {
  align-self: center;
}
.haifa-map-container44 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text096 {
  align-self: center;
}
.haifa-map-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container46 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text099 {
  align-self: center;
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-container47 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text100 {
  align-self: center;
}
.haifa-map-container48 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text101 {
  align-self: center;
}
.haifa-map-container49 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text104 {
  align-self: center;
}
.haifa-map-container50 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text107 {
  align-self: center;
}
.haifa-map-container51 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-map-container52 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-text110 {
  align-self: center;
  background-color: var(--dl-color-custom-primary2);
}
.haifa-map-container53 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text111 {
  align-self: center;
}
.haifa-map-container54 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text112 {
  align-self: center;
}
.haifa-map-container55 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text115 {
  align-self: center;
}
.haifa-map-container56 {
  flex: 0 0 auto;
  width: 15%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-map-text118 {
  align-self: center;
}
