.navigation-container2362 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container2363 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink422 {
  display: contents;
}
.navigation-image298 {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container2364 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text3534 {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container2365 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink424 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink425 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink426 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink427 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink428 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text3535 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container2363 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container2363 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image298 {
    width: auto;
    height: 7rem;
  }
  .navigation-container2365 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container2363 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container2364 {
    height: auto;
  }
  .navigation-container2365 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink424 {
    text-align: center;
  }
  .navigation-navlink425 {
    text-align: center;
  }
  .navigation-navlink426 {
    text-align: center;
  }
  .navigation-navlink427 {
    text-align: center;
  }
  .navigation-navlink428 {
    text-align: center;
  }
  .navigation-text3535 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container2363 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container2364 {
    gap: 0;
  }
  .navigation-text3534 {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container2365 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink425 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}

.contact-dealers-container2204 {
  padding: var(--dl-space-space-twounits);
}
.contact-dealers-accent2-bg120 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.contact-dealers-accent2-bg120:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.contact-dealers-accent1-bg120 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.contact-dealers-container2205 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.contact-dealers-container2205:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-dealers-content358 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-dealers-navlink408 {
  display: contents;
}
.contact-dealers-actions73 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
}


























@media(max-width: 767px) {
  .contact-dealers-container2205 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-dealers-actions73 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .contact-dealers-button111 {
    flex: 1;
  }
}

.footer-footer11 {
  position: relative;
  background-color: transparent;
}
.footer-separator11 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container2202 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text3361 {
  align-self: flex-start;
}
.footer-text3362 {
  align-self: flex-start;
}





























@media(max-width: 1200px) {
  .footer-container2202 {
    align-items: center;
    justify-content: flex-start;
  }
  .footer-date-time11 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .footer-footer11 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator11 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container2202 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-text3361 {
    margin-bottom: 0px;
  }
  .footer-text3362 {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-footer11 {
    padding: var(--dl-space-space-halfunit);
    position: relative;
    flex-direction: column;
  }
  .footer-separator11 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer-container2202 {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text3361 {
    align-self: center;
    text-align: left;
  }
  .footer-date-time11 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text3362 {
    align-self: flex-end;
    text-align: center;
  }
}

.haifa-kno3-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.haifa-kno3-container01 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-text004 {
  text-align: justify;
}
.haifa-kno3-text005 {
  text-align: justify;
}
.haifa-kno3-text006 {
  align-self: flex-start;
  text-align: left;
}
.haifa-kno3-ul {
  list-style-type: circle;
}
.haifa-kno3-container02 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-text037 {
  align-self: flex-start;
  margin-bottom: var(--dl-space-space-unit);
}
.haifa-kno3-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container04 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text040 {
  align-self: center;
  text-align: center;
}
.haifa-kno3-container05 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text041 {
  align-self: center;
}
.haifa-kno3-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container07 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text042 {
  align-self: center;
}
.haifa-kno3-container08 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text043 {
  align-self: center;
}
.haifa-kno3-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container10 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text046 {
  align-self: center;
}
.haifa-kno3-container11 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text047 {
  align-self: center;
}
.haifa-kno3-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container13 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text050 {
  align-self: center;
}
.haifa-kno3-container14 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text051 {
  align-self: center;
}
.haifa-kno3-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container16 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text054 {
  align-self: center;
}
.haifa-kno3-container17 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text055 {
  align-self: center;
}
.haifa-kno3-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.haifa-kno3-container19 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text058 {
  align-self: center;
}
.haifa-kno3-container20 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text059 {
  align-self: center;
}
.haifa-kno3-container21 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-text062 {
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
}
.haifa-kno3-text063 {
  align-self: flex-start;
}
.haifa-kno3-text064 {
  align-self: flex-start;
  text-align: justify;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.haifa-kno3-container22 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-kno3-container24 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text065 {
  align-self: center;
}
.haifa-kno3-container25 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text066 {
  align-self: center;
}
.haifa-kno3-container26 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text069 {
  align-self: center;
}
.haifa-kno3-container27 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text072 {
  align-self: center;
}
.haifa-kno3-container28 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text075 {
  align-self: center;
}
.haifa-kno3-container29 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text078 {
  align-self: center;
}
.haifa-kno3-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-kno3-container31 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text081 {
  align-self: center;
}
.haifa-kno3-container32 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text082 {
  align-self: center;
}
.haifa-kno3-container33 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text083 {
  align-self: center;
}
.haifa-kno3-container34 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text086 {
  align-self: center;
}
.haifa-kno3-container35 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text089 {
  align-self: center;
}
.haifa-kno3-container36 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text092 {
  align-self: center;
}
.haifa-kno3-container37 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-text095 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
}
.haifa-kno3-text098 {
  align-self: flex-start;
  text-align: justify;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.haifa-kno3-container38 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.haifa-kno3-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-kno3-container40 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text099 {
  align-self: center;
}
.haifa-kno3-container41 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text100 {
  align-self: center;
}
.haifa-kno3-container42 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text101 {
  align-self: center;
}
.haifa-kno3-container43 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text104 {
  align-self: center;
}
.haifa-kno3-container44 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text107 {
  align-self: center;
}
.haifa-kno3-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-kno3-container46 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text110 {
  align-self: center;
}
.haifa-kno3-container47 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text111 {
  align-self: center;
}
.haifa-kno3-container48 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text112 {
  align-self: center;
}
.haifa-kno3-container49 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text115 {
  align-self: center;
}
.haifa-kno3-container50 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text118 {
  align-self: center;
}
.haifa-kno3-container51 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.haifa-kno3-container52 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.haifa-kno3-text121 {
  align-self: center;
}
.haifa-kno3-container53 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text122 {
  align-self: center;
}
.haifa-kno3-container54 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text123 {
  align-self: center;
}
.haifa-kno3-container55 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text126 {
  align-self: center;
}
.haifa-kno3-container56 {
  flex: 0 0 auto;
  width: 10%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.haifa-kno3-text129 {
  align-self: center;
}
@media(max-width: 479px) {
  .haifa-kno3-text {
    text-align: center;
  }
  .haifa-kno3-text004 {
    padding-left: 0px;
  }
  .haifa-kno3-text005 {
    padding-left: 0px;
  }
  .haifa-kno3-text006 {
    align-self: center;
    padding-left: 0px;
  }
  .haifa-kno3-ul {
    margin: 0px;
    padding-left: var(--dl-space-space-unit);
  }
  .haifa-kno3-container02 {
    align-self: center;
  }
  .haifa-kno3-text037 {
    padding-left: 0px;
  }
  .haifa-kno3-container03 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container06 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container09 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container12 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container15 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container18 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-text062 {
    padding-left: 0px;
  }
  .haifa-kno3-text063 {
    text-align: center;
    padding-left: 0px;
  }
  .haifa-kno3-text064 {
    padding-left: 0px;
  }
  .haifa-kno3-container23 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container25 {
    width: 15%;
  }
  .haifa-kno3-container26 {
    width: 15%;
  }
  .haifa-kno3-container27 {
    width: 15%;
  }
  .haifa-kno3-container28 {
    width: 15%;
  }
  .haifa-kno3-container29 {
    width: 15%;
  }
  .haifa-kno3-container30 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container32 {
    width: 15%;
    align-items: center;
  }
  .haifa-kno3-container33 {
    width: 15%;
  }
  .haifa-kno3-container34 {
    width: 15%;
  }
  .haifa-kno3-container35 {
    width: 15%;
  }
  .haifa-kno3-container36 {
    width: 15%;
  }
  .haifa-kno3-text098 {
    padding-left: 0px;
  }
  .haifa-kno3-container39 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container41 {
    width: 15%;
  }
  .haifa-kno3-container42 {
    width: 15%;
  }
  .haifa-kno3-container43 {
    width: 15%;
  }
  .haifa-kno3-container44 {
    width: 15%;
  }
  .haifa-kno3-container45 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container47 {
    width: 15%;
  }
  .haifa-kno3-container48 {
    width: 15%;
  }
  .haifa-kno3-container49 {
    width: 15%;
  }
  .haifa-kno3-container50 {
    width: 15%;
  }
  .haifa-kno3-container51 {
    margin-left: var(--dl-space-space-twounits);
  }
  .haifa-kno3-container53 {
    width: 15%;
  }
  .haifa-kno3-container54 {
    width: 15%;
  }
  .haifa-kno3-container55 {
    width: 15%;
  }
  .haifa-kno3-container56 {
    width: 15%;
  }
}
