.navigation-container4910 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container4911 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink884 {
  display: contents;
}
.navigation-image620 {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container4912 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text7342 {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container4913 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink886 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink887 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink888 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink889 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink890 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text7343 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container4911 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container4911 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image620 {
    width: auto;
    height: 7rem;
  }
  .navigation-container4913 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container4911 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container4912 {
    height: auto;
  }
  .navigation-container4913 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink886 {
    text-align: center;
  }
  .navigation-navlink887 {
    text-align: center;
  }
  .navigation-navlink888 {
    text-align: center;
  }
  .navigation-navlink889 {
    text-align: center;
  }
  .navigation-navlink890 {
    text-align: center;
  }
  .navigation-text7343 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container4911 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container4912 {
    gap: 0;
  }
  .navigation-text7342 {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container4913 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink887 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}

.contact-dealers-container4752 {
  padding: var(--dl-space-space-twounits);
}
.contact-dealers-accent2-bg260 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.contact-dealers-accent2-bg260:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.contact-dealers-accent1-bg260 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.contact-dealers-container4753 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.contact-dealers-container4753:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-dealers-content764 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-dealers-navlink870 {
  display: contents;
}
.contact-dealers-actions157 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
}


























@media(max-width: 767px) {
  .contact-dealers-container4753 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-dealers-actions157 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .contact-dealers-button237 {
    flex: 1;
  }
}

.nitrogen-deets-container4781 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.nitrogen-deets-content252 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.nitrogen-deets-text7241 {
  margin-bottom: var(--dl-space-space-unit);
}
.nitrogen-deets-container4782 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4783 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-secondary1);
}
.nitrogen-deets-text7242 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4784 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-secondary1);
}
.nitrogen-deets-text7243 {
  width: auto;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4785 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4786 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7244 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4787 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7245 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4788 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4789 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7246 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4790 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7247 {
  width: 20px;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4791 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4792 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7248 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4793 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7249 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4794 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4795 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7250 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4796 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7251 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4797 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4798 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7252 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4799 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7253 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4800 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4801 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7254 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4802 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7255 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4803 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4804 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7256 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4805 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7257 {
  width: auto;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4806 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4807 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7258 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4808 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7259 {
  width: auto;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4809 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4810 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7260 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4811 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7261 {
  width: auto;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4812 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.nitrogen-deets-container4813 {
  width: 50%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-custom-primary2);
}
.nitrogen-deets-text7262 {
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-container4814 {
  width: 30%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
}
.nitrogen-deets-text7263 {
  width: auto;
  align-self: center;
  text-align: justify;
}
.nitrogen-deets-root-class-name {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .nitrogen-deets-container4786 {
    position: relative;
  }
  .nitrogen-deets-text7244 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4787 {
    position: relative;
  }
  .nitrogen-deets-text7245 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4789 {
    position: relative;
  }
  .nitrogen-deets-text7246 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4790 {
    position: relative;
  }
  .nitrogen-deets-text7247 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4792 {
    position: relative;
  }
  .nitrogen-deets-text7248 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4793 {
    position: relative;
  }
  .nitrogen-deets-text7249 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4795 {
    position: relative;
  }
  .nitrogen-deets-text7250 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4796 {
    position: relative;
  }
  .nitrogen-deets-text7251 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4798 {
    position: relative;
  }
  .nitrogen-deets-text7252 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4799 {
    position: relative;
  }
  .nitrogen-deets-text7253 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4801 {
    position: relative;
  }
  .nitrogen-deets-text7254 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4802 {
    position: relative;
  }
  .nitrogen-deets-text7255 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4804 {
    position: relative;
  }
  .nitrogen-deets-text7256 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4805 {
    position: relative;
  }
  .nitrogen-deets-text7257 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4807 {
    position: relative;
  }
  .nitrogen-deets-text7258 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4808 {
    position: relative;
  }
  .nitrogen-deets-text7259 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4810 {
    position: relative;
  }
  .nitrogen-deets-text7260 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4811 {
    position: relative;
  }
  .nitrogen-deets-text7261 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4813 {
    position: relative;
  }
  .nitrogen-deets-text7262 {
    width: auto;
    text-align: center;
  }
  .nitrogen-deets-container4814 {
    position: relative;
  }
  .nitrogen-deets-text7263 {
    width: auto;
    text-align: center;
  }
}
@media(max-width: 479px) {
  .nitrogen-deets-container4783 {
    width: 50%;
  }
  .nitrogen-deets-container4784 {
    flex: 0 0 auto;
    width: 50%;
  }
  .nitrogen-deets-container4786 {
    width: 50%;
  }
  .nitrogen-deets-container4787 {
    width: 50%;
  }
  .nitrogen-deets-container4789 {
    width: 50%;
  }
  .nitrogen-deets-container4790 {
    width: 50%;
  }
  .nitrogen-deets-container4792 {
    width: 50%;
  }
  .nitrogen-deets-container4793 {
    width: 50%;
  }
  .nitrogen-deets-container4795 {
    width: 50%;
  }
  .nitrogen-deets-container4796 {
    width: 50%;
  }
  .nitrogen-deets-container4798 {
    width: 50%;
  }
  .nitrogen-deets-container4799 {
    width: 50%;
  }
  .nitrogen-deets-container4801 {
    width: 50%;
  }
  .nitrogen-deets-container4802 {
    width: 50%;
  }
  .nitrogen-deets-container4804 {
    width: 50%;
  }
  .nitrogen-deets-container4805 {
    width: 50%;
  }
  .nitrogen-deets-container4807 {
    width: 50%;
  }
  .nitrogen-deets-container4808 {
    width: 50%;
  }
  .nitrogen-deets-container4810 {
    width: 50%;
  }
  .nitrogen-deets-container4811 {
    width: 50%;
  }
  .nitrogen-deets-container4813 {
    width: 50%;
  }
  .nitrogen-deets-container4814 {
    width: 50%;
  }
  .nitrogen-deets-root-class-name {
    max-width: auto;
  }
}

.footer-footer25 {
  position: relative;
  background-color: transparent;
}
.footer-separator25 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container4750 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text7169 {
  align-self: flex-start;
}
.footer-text7170 {
  align-self: flex-start;
}





























@media(max-width: 1200px) {
  .footer-container4750 {
    align-items: center;
    justify-content: flex-start;
  }
  .footer-date-time25 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .footer-footer25 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator25 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container4750 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-text7169 {
    margin-bottom: 0px;
  }
  .footer-text7170 {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-footer25 {
    padding: var(--dl-space-space-halfunit);
    position: relative;
    flex-direction: column;
  }
  .footer-separator25 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer-container4750 {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text7169 {
    align-self: center;
    text-align: left;
  }
  .footer-date-time25 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text7170 {
    align-self: flex-end;
    text-align: center;
  }
}

.pn-nitrogen-container {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pn-nitrogen-hero2 {
  flex: inherit;
  width: 100%;
  height: auto;
  display: flex;
  position: static;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.pn-nitrogen-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pn-nitrogen-container2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.pn-nitrogen-content8 {
  align-self: flex-start;
  text-align: justify;
}
.pn-nitrogen-content81 {
  align-self: flex-start;
  text-align: justify;
}
.pn-nitrogen-text05 {
  align-self: flex-start;
}
.pn-nitrogen-content82 {
  align-self: flex-start;
  text-align: justify;
}
.pn-nitrogen-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pn-nitrogen-navlink {
  display: contents;
}
.pn-nitrogen-image {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .pn-nitrogen-hero2 {
    flex: auto;
  }
}
@media(max-width: 767px) {
  .pn-nitrogen-hero2 {
    flex: auto;
  }
}
