.navigation-container906 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container907 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink158 {
  display: contents;
}
.navigation-image114 {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container908 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text1358 {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container909 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink160 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink161 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink162 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink163 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink164 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text1359 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container907 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container907 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image114 {
    width: auto;
    height: 7rem;
  }
  .navigation-container909 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container907 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container908 {
    height: auto;
  }
  .navigation-container909 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink160 {
    text-align: center;
  }
  .navigation-navlink161 {
    text-align: center;
  }
  .navigation-navlink162 {
    text-align: center;
  }
  .navigation-navlink163 {
    text-align: center;
  }
  .navigation-navlink164 {
    text-align: center;
  }
  .navigation-text1359 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container907 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container908 {
    gap: 0;
  }
  .navigation-text1358 {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container909 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink161 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}

.product-desc-layout3493 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
}
.product-desc-max-width63 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-desc-container728 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  max-width: 600px;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
}
.product-desc-text1088 {
  text-align: center;
}
.product-desc-text1089 {
  text-align: center;
}
.product-desc-container729 {
  width: 100%;
}
.product-desc-card76 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image092 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1091 {
  text-align: center;
}
.product-desc-card77 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image093 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1093 {
  text-align: center;
}
.product-desc-card78 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image094 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1095 {
  text-align: center;
}
.product-desc-card79 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image095 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1097 {
  text-align: center;
}
.product-desc-card80 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image096 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1099 {
  text-align: center;
}
.product-desc-card81 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image097 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1101 {
  text-align: center;
}
.product-desc-card82 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image098 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1103 {
  text-align: center;
}
.product-desc-card83 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image099 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1105 {
  text-align: center;
}
.product-desc-card84 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image100 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1107 {
  text-align: center;
}
.product-desc-card85 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image101 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.product-desc-text1109 {
  text-align: center;
}
.product-desc-card86 {
  color: var(--dl-color-theme-neutral-light);
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary2);
}
.product-desc-image102 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-large);
  object-fit: cover;
  animation-name: none;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@media(max-width: 991px) {
  .product-desc-max-width63 {
    flex-direction: column;
  }
  .product-desc-container728 {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .product-desc-container728 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .product-desc-card76 {
    width: 100%;
  }
  .product-desc-card77 {
    width: 100%;
  }
  .product-desc-card78 {
    width: 100%;
  }
  .product-desc-card79 {
    width: 100%;
  }
  .product-desc-card80 {
    width: 100%;
  }
  .product-desc-card81 {
    width: 100%;
  }
  .product-desc-card82 {
    width: 100%;
  }
  .product-desc-card83 {
    width: 100%;
  }
  .product-desc-card84 {
    width: 100%;
  }
  .product-desc-card85 {
    width: 100%;
  }
  .product-desc-card86 {
    width: 100%;
  }
}

.contact-dealers-container748 {
  padding: var(--dl-space-space-twounits);
}
.contact-dealers-accent2-bg40 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
.contact-dealers-accent2-bg40:hover {
  transform: scale3d(1.1,1.1,1.1);
}
.contact-dealers-accent1-bg40 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
.contact-dealers-container749 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-cardradius);
  padding-right: var(--dl-space-space-fourunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.contact-dealers-container749:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
.contact-dealers-content126 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-dealers-navlink144 {
  display: contents;
}
.contact-dealers-actions25 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  text-decoration: none;
}


























@media(max-width: 767px) {
  .contact-dealers-container749 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
}
@media(max-width: 479px) {
  .contact-dealers-actions25 {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .contact-dealers-button39 {
    flex: 1;
  }
}

.footer-footer3 {
  position: relative;
  background-color: transparent;
}
.footer-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-container746 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.footer-text1185 {
  align-self: flex-start;
}
.footer-text1186 {
  align-self: flex-start;
}





























@media(max-width: 1200px) {
  .footer-container746 {
    align-items: center;
    justify-content: flex-start;
  }
  .footer-date-time3 {
    text-align: left;
  }
}
@media(max-width: 767px) {
  .footer-footer3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .footer-container746 {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .footer-text1185 {
    margin-bottom: 0px;
  }
  .footer-text1186 {
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .footer-footer3 {
    padding: var(--dl-space-space-halfunit);
    position: relative;
    flex-direction: column;
  }
  .footer-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .footer-container746 {
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer-text1185 {
    align-self: center;
    text-align: left;
  }
  .footer-date-time3 {
    align-self: center;
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
  }
  .footer-text1186 {
    align-self: flex-end;
    text-align: center;
  }
}

.products-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.products-hero2 {
  flex: inherit;
  width: 100%;
  height: auto;
  display: flex;
  position: static;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.products-container1 {
  flex: inherit;
  width: 100%;
  height: auto;
  display: flex;
  position: static;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.products-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
@media(max-width: 1200px) {
  .products-hero2 {
    flex: auto;
  }
  .products-container1 {
    flex: auto;
  }
}
@media(max-width: 767px) {
  .products-hero2 {
    flex: auto;
  }
  .products-container1 {
    flex: auto;
  }
}
@media(max-width: 479px) {
  .products-container {
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
  }
}
