thead th{
	padding-right: 1px;
	padding-left: 1px;
}

body {
	margin: 0px 0px 0px 0px;
	font-family: Verdana, Helvetica, sans-serif;
	color: #444444;
	font-size: 9px;
	background-color: #ffffff;
	}

.body {
	font-size: 9px;
	}

table, td {
	color: #444444;
	font-size: 9px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	
}

p {
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-top: 2px;
	padding-right: 0px;
	}

form {
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-top: 2px;
	padding-right: 0px;
	
	}

h1 {
	color: #EA1313;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;
	}

h2 {
	color: #666666;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	}

h3 {
	color: #7f0000;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 4px;
	}

h4 {
	color: #333333;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
	}

h5 {
	color: #333333;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 1px;
	}

LI {
	LIST-STYLE-TYPE: square;
	margin-left: 6px;
	MARGIN-BOTTOM: 2px;
	}

UL {
	MARGIN-TOP: 2px;
	}

hr {
	height: 1px;
}
a:link, a:visited {
	color: #444444;
	font-size: 9px;
/*	text-decoration: underline; */
	}
a:hover {
/*	color: #666666;
	text-decoration: underline; */
	}
/* Form Styles */

.button {
	font-size: 9px;
	color: #666666;
	font-weight: bold;
	background-image: url('btn_bg00.gif');
	}

.buttonOn {
	border: 1px solid #444444;
	background-color: #ffffff;
	font-size: 9px;
	color: #444444;
	font-weight: normal;
	}

/* Select padding-left set to 0 to match input boxes, since select boxes seem to have padding anyway */
select {
	border: 1px solid #888888;
	font-size: 9px;
	background-color: #ffffff;
	padding-left: 0px;
	}
input:not([type=image]) {
	border: 1px solid #888888;
	font-size: 9px;
	background-color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	}

textarea {
	font-family: Verdana, Helvetica, sans-serif;
	border: 1px solid #888888;
	font-size: 8.5px;
	background-color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	}
.checkbox, .radio {
	border:0px;
	background-color: transparent;
	margin: 0px;
	vertical-align: bottom;
	}


/* Content Specific Styles */
	/* body text */
	.contentBox {
		background-color: #efefef;
		border: 1px #9e9e9e solid;
		padding: 5px;
	}
	.teamNoticeBox {
		background-color: #eeeeee;
		border: 1px #980000 solid;
		padding-left: 5px;
		padding-right: 5px;
		color: #00568C;
	}
	a.body:link, a.body:visited {
		color: #444444;
		font-size: 9px;
/*		text-decoration: underline;*/
		}

	a.body:hover {
/*		color: #666666;
		text-decoration: underline; */
		}

	/*for the main screen navigation tabs*/
	.currentTab {
		color: #333333;
		font-size: 9px;
		font-weight: bold;
		padding-top: 1px;
		background : url('nCurrent.gif');
		}
	a.currentTab:link, a.currentTab:visited {
		color: #333333;
		text-decoration: none;
		}
	a.currentTab:hover {
		color: #666666;
		text-decoration: none;
		}
	.currentTabLeft {
		background : url('nCurrenu.gif');
		}
	.currentTabRight {
		background : url('nCurrenv.gif');
		}
	.tabSpace {
		background : url('emptyTab.htm');
		}

	.otherTab {
		font-size: 9px;
		font-weight: bold;
		}
	td.otherTab {
		background-image : url('otherTab.png');
		}
	a.otherTab:link, a.otherTab:visited {
		color: #6e6e6e;
		text-decoration: none;
		}
	a.otherTab:hover {
		color: #3C3C3C;
		text-decoration: none;
		}
	.otherTabLeft {
		background : url('otherTac.png');
		}
	.otherTabRight {
		background : url('otherTad.png');
		}
	.tabSeparator {
		padding-left:7px;
		background-image :url('nCurrenu.gif');
	}
	.tabRow {
		background-color: white;
	}
	.tabContainer {
		width: 100%;
		background-color: #E5E5E5;
/*		border-width: 0px;
		border-collapse: collapse;
		border-spacing: 0px;
		margin: 0px;
		padding: 0px;*/
	}
	.tabLeftSpace {
	}
	.companyLogoHeader {
		background : url('orange30.png') no-repeat 10px 1px;
		width: 264px;
		height: 62px;
		margin-left: 10px;
		border-width: 0px
		}
	.headerRight {
		background : url('top_img0.jpg') no-repeat top right;
		width: 300px;
		height: 62px
		}

	.subMenuTDIcon {
		font-size: 9px;
		color: #ffffff;
		background-color: #efefef;
		padding-bottom: 2px;
		padding-top: 1px;
		padding-left: 3px;
		padding-right: 3px;
		border-right: 1px solid #fefefe;
		}
	.subMenuTD {
		font-size: 9px;
		color: #ffffff;
		background-color: #DFDFDF;
		padding-bottom: 2px;
		padding-top: 1px;
		border-bottom: 1px solid #EDEDED;
		}
	a.subMenuLink:link, a.subMenuLink:visited {
		color: #444444;
		text-decoration: none;
		border-bottom: 0px;
		padding-left: 0px;
		}
	a.subMenuLink:hover {
		color: #666666;
		text-decoration: none;
		border-bottom: 0px;
		}
	.bugtrackerLeftCol {
		height: 800;
		width: 158;
		background-color: #FFB121;
	}

	

	
.rollmenu:hover
{
	background-color: #EDC112;
	border-top: #FFCE73 1px solid;
	border-left: #FFCE73 1px solid;
	border-right: #D8B114 1px solid;
	border-bottom: #D8B114 1px solid;
	text-decoration: none
}
#menuhead
{
	background-color: #EDC112;
	font-weight:bold;
	padding-right: 2px;
	display: block;
	padding-left: 2px;
	font-size: 9px;
	padding-bottom: 2px;
	border-top: #FFCE73 1px solid;
	border-left: #FFCE73 1px solid;
	border-right: #D8B114 1px solid;
	border-bottom: #D8B114 1px solid;
	color: #000000;
	line-height: normal;
	padding-top: 2px;
	font-family: "Verdana", "Helvetica", "sans-serif";
	text-decoration: none
}
#menu1
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu2
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu3
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
#menu4
{
	left: 1px;
	visibility: hidden;
	position: absolute;
	top: 1px;
	background-color: transparent
}
/* menu styles */
.searchHeadings {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.ERR {
    color: #FF0000;
    background-color: #FFDDDD;
}

.odd {
    background-color: #FFFFFF;
}

.even {
    background-color: #EEEEEE;
}

.r2_c1 {
    background: url('table_r2.gif') repeat-y right;
}

.r1_c1 {
    background: url('table_r1.gif') no-repeat right top;
}

.r1_c3 {
    background: url('table_r3.gif') no-repeat left top;
}

.r1_c2 {
    background: url('table_r4.gif') repeat-x left top;
}

.r3_c1 {
    background: url('table_r5.gif') no-repeat right bottom;
}

.r3_c3 {
    background: url('table_r6.gif') no-repeat left bottom;
}

.r3_c2 {
    background: url('table_r7.gif') repeat-x left bottom;
}

.r2_c3 {
    background: url('table_r8.gif') repeat-y left;
}

.cmb {
	width: 130px;
}

#notice {
	padding-left: 10px;
}

.button1 {
	border:none;
}

textarea {
	border: 1px solid #888888;
	font-size: 9px;
	background-color: #ffffff;
}

.tableTopLeft {
	background:url('table_r1.gif') no-repeat top right;
	width:12px;
	height:11px
}

.tableTopMiddle {
	background:url('table_r4.gif') repeat-x top;
}

.tableTopRight {
	background:url('table_r3.gif') no-repeat top left;
	width:12px;
	height:11px
}
td.tbhead{font-family:Verdana;color:#fff;font-size:10pt;background-color:#666633;font-weight:bold;text-align:center}
td.tbhead1{font-family:Verdana;color:#fff;font-size:10pt;background-color:#666633;font-weight:bold}
td.tbhead2{font-family:Verdana;color:#fff;font-size:8pt;background-color:#666633;font-weight:bold}
td.tbsubhead{font-family:Verdana;color:#fff;font-size:10pt;background-color:#666633;text-align:center}
td.tbmain{font-family:Verdana;color:#1c355d;font-size:8pt;background-color:#cccc99}
td.tbmainn{font-family:Verdana;color:#1c355d;font-size:10pt;background-color:#cccc99}
td.tbnotes{font-family:Verdana;color:#1c355d;font-size:8pt;background-color:#bcc7d2}
td.tbmain1{font-family:Verdana;color:#1c355d;font-size:8pt;background-color:#e6eef1}
td.tbmainfs{font-family:Verdana;color:#1c355d;font-size:10pt;background-color:#e6eef1}
td.tbmainfs1{font-family:Verdana;color:#1c355d;font-size:10pt;background-color:#e6eef1}.notover{visibility:show}.disappear{visibility:hidden}.popup{font-size:10px;color:#014bae;font-family:Verdana}.link04{font-family:verdana, Verdana;padding-left:7px;padding-right:8px;border-left:1px solid #fff;border-right:1px solid #8195ba;text-align:center;vertical-align:middle}.link04 a{font-family:verdana, Verdana;color:#2c447c;font-size:10px}.link04b{font-family:verdana, Verdana;padding-left:7px;padding-right:8px;border-left:1px solid #fff;text-align:center;vertical-align:middle}.link04b a{font-family:verdana, Verdana;color:#2c447c;font-size:10px}.itemBorder{border-bottom:#fff 1px solid;border-left:#ffffff1px solid;border-right:#fff 1px solid;border-top:#fff 1px solid}.itemText{color:#fff;font:10px verdana,Verdana, helvetica;text-decoration:none}.itemText1{color:#fff;font:bold 10px verdana,Verdana, helvetica;text-decoration:none}.itemText2{color:#fff;font:bold 11px verdana,Verdana, helvetica;background-color:#0089cf;height:17px;width:100%;text-align:center;vertical-align:middle;border-bottom:1px solid #2b6190}.crazyBorder{border-bottom:#36649b 1px solid;border-left:#36649b 1px solid;border-right:#36649b 1px solid;border-top:#36649b 1px solid}.crazyText{color:#fff;font:10px verdana,Verdana, helvetica;text-decoration:none}.home1{color:#ffbc20;font-family:verdana, Verdana;font-size:48pt;font-weight:bold}.home2{color:#ffbc20;font-family:verdana, Verdana;font-size:24pt;font-weight:bold}.home3{color:#ffbc20;font-family:verdana, Verdana;font-size:10pt;font-weight:bold}.bse1{color:#fff;font-family:verdana, Verdana;font-size:13pt;font-weight:bold}.bse2{font-family:verdana, Verdana;font-size:10pt}.bse3{font-family:verdana, Verdana;font-size:7pt}.bse4{font-family:verdana, Verdana;font-size:8pt}.bse5{font-family:verdana, Verdana;font-size:12pt}.bse6{font-family:verdana, Verdana;font-size:7pt}.itemText a{color:#fff;font:10px verdana,Verdana, helvetica;text-decoration:none}

/* Styles needed for rounded box (css) */
.north {
    background: url('table_r4.gif') repeat-x top;
}
.east {
    background: url('table_r8.gif') repeat-y right;
}
.south {
    background: url('table_r7.gif') repeat-x bottom;
}
.west {
    background: url('table_r2.gif') repeat-y left;
}
.ne {
    background: url('table_r3.gif') no-repeat top right;
}
.se {
    background: url('table_r6.gif') no-repeat bottom right;
}
.sw {
    background: url('table_r5.gif') no-repeat bottom left;
}
.nw {
    background: url('table_r1.gif') no-repeat top left;
}
.roundbox_content {
    padding:15px;
}

*:not([type=image]):disabled {
	background-color: #F6F4F1;
	color: #666562;
}

input:not([readonly]):not([type=image]):focus, select:focus, textarea:focus {
	background-color: #FFFFD9;
}

*[readonly] {
	color:#B8B6B0
}

table.simpleList {
        border-width: 1px;
        border-collapse: collapse;
        border-style: solid;
        border-color: gray;
}
table.simpleList th {
        border-width: 0px 0px 1px 0px;
        padding: 3px 3px 3px 5px;
        border-style: solid;
        border-color: gray;
        color: black;
        font-weight: bold;
}
table.simpleList td {
        border-width: 0px;
        padding: 3px 3px 3px 5px;
}

.calendarBtn {
	background-image: url('calendar.gif');
	background-repeat: no-repeat;
	background-position:  center 50%;
}

.inputFormatHint {
	color: #D8D8D8;
}