.navigation-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.navigation-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.navigation-navlink {
  display: contents;
}
.navigation-image {
  width: auto;
  height: 7rem;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.navigation-container2 {
  gap: 0;
  height: 7rem;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.navigation-text {
  fill: var(--dl-color-success-green);
  color: var(--dl-color-success-green);
  align-self: center;
  text-align: justify;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-container3 {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}
.navigation-navlink2 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink3 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink4 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink5 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-navlink6 {
  width: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
  text-decoration: none;
}
.navigation-text1 {
  width: 100%;
  display: none;
  font-style: normal;
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 600;
}






























@media(max-width: 1200px) {
  .navigation-container1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 991px) {
  .navigation-container1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-image {
    width: auto;
    height: 7rem;
  }
  .navigation-container3 {
    padding: var(--dl-space-space-unit);
    align-items: flex-start;
    flex-direction: row;
  }
}
@media(max-width: 767px) {
  .navigation-container1 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-unit);
  }
  .navigation-container2 {
    height: auto;
  }
  .navigation-container3 {
    align-self: center;
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navigation-navlink2 {
    text-align: center;
  }
  .navigation-navlink3 {
    text-align: center;
  }
  .navigation-navlink4 {
    text-align: center;
  }
  .navigation-navlink5 {
    text-align: center;
  }
  .navigation-navlink6 {
    text-align: center;
  }
  .navigation-text1 {
    text-align: center;
  }
  .navigation-root-class-name {
    align-self: center;
  }
  .navigation-root-class-name1 {
    align-self: center;
  }
  .navigation-root-class-name2 {
    align-self: center;
  }
  .navigation-root-class-name3 {
    align-self: center;
  }
  .navigation-root-class-name4 {
    align-self: center;
  }
  .navigation-root-class-name5 {
    align-self: center;
  }
  .navigation-root-class-name6 {
    align-self: center;
  }
  .navigation-root-class-name7 {
    align-self: center;
  }
  .navigation-root-class-name8 {
    align-self: center;
  }
  .navigation-root-class-name9 {
    align-self: center;
  }
  .navigation-root-class-name10 {
    align-self: center;
  }
  .navigation-root-class-name11 {
    align-self: center;
  }
  .navigation-root-class-name12 {
    align-self: center;
  }
  .navigation-root-class-name13 {
    align-self: center;
  }
  .navigation-root-class-name14 {
    align-self: center;
  }
  .navigation-root-class-name15 {
    align-self: center;
  }
  .navigation-root-class-name16 {
    align-self: center;
  }
  .navigation-root-class-name17 {
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-container1 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .navigation-container2 {
    gap: 0;
  }
  .navigation-text {
    color: var(--dl-color-success-green);
    align-self: center;
    text-align: justify;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-transform: capitalize;
    animation-delay: 3000ms;
    text-decoration: none;
    animation-duration: 2000ms;
  }
  .navigation-container3 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .navigation-navlink3 {
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 600;
    text-decoration: none;
  }
}
